product/priv-app/CameraGo/CameraGo.apk
product/app/webview/webview.apk
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/system_ext/app/UdfpsAnimations/UdfpsAnimations.apk
recovery.img
